
*, ::before, :after{
    margin: 0;
    padding: 0;
    border: 0;
    cursor: inherit;
    box-sizing: border-box;

}


ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.home{
    position: relative;

    background: #FFFFFF;
}

.firstLogo{
    /* header */


position: absolute;
width: 1440px;
height: 117px;
left: 0px;
top: 0px;
z-index: 1;

background: #FFC107;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.logo{
    /* omma-logo-white (2) 1 */


position: relative;
width: 324px;
height: 84px;
left: 537px;
top: 16px;
}

.menu{
    /* menu header */


    position: absolute;
    width: 1440px;
    height: 48px;
    left: 0px;
    top: 117px;
    z-index: -1;

    background: #FFA000;

}

#start{
    position: absolute;
    width: 57px;
    height: 24px;
    left: 550px;
    top: 129px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    
    color: #FDFDFD;
}
#recipes{
    position: absolute;
    width: 84px;
    height: 24px;
    left: 665px;
    top: 129px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    
    color: #FDFDFD;
}
#contact{
    position: absolute;
    width: 82px;
    height: 24px;
    left: 807px;
    top: 129px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    
    color: #FDFDFD;
}

.recipes{
    position: absolute;
    width: 462px;
    height: 61px;
    left: 120px;
    top: 272px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    
    text-transform: lowercase;
    
    color: #FFA000;
}

.risotoAbobora{
    position: absolute;
    width: 592px;
    height: 311px;
    left: 120px;
    top: 361px;

background: #C4C4C4;
}

.difficult{
    position: absolute;
    width: 74px;
    height: 17px;
    left: 130px;
    top: 704px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;

    color: #176902;

    box-sizing: border-box;

    position: absolute;
    width: 95px;
    height: 31px;
    left: 120px;
    top: 697px;

    border: 1px solid #176902;
    border-radius: 47px;
}

.servings{
    position: absolute;
    width: 152.67px;
    height: 17px;
    left: 254.63px;
    top: 704px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    
    color: #176902;
    

    box-sizing: border-box;

    position: absolute;
    width: 196px;
    height: 31px;
    left: 234px;
    top: 697px;

    border: 1px solid #176902;
    border-radius: 47px;

}

.fullRecipe{
    position: absolute;
    width: 592px;
    height: 480px;
    left: 128px;
    top: 786px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    
    color: #000000;
}

.videoReceita{
    position: absolute;
    width: 580px;
    height: 317px;
    left: 120px;
    top: 1303px;

}

.htm{
    position: absolute;
    width: 592px;
    height: 576px;
    left: 128px;
    top: 1655px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    
    color: #000000;
}

.relatedRecipes{
    position: absolute;
    width: 321px;
    height: 37px;
    left: 904px;
    top: 343px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    text-transform: lowercase;
    
    color: #FFA000;
}

.moqueca{
    position: absolute;
    width: 345px;
    height: 342px;
    left: 904px;
    top: 407px;

    /*border*/

    position: absolute;
    width: 345px;
    height: 411px;
    left: 904px;
    top: 407px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.moquecaText{
    position: absolute;
    width: 466px;
    height: 64px;
    left: 845px;
    top: 768px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: lowercase;
    
    color: #000000;
    
    
}

.boloBanana{
    position: absolute;
    width: 345px;
    height: 342px;
    left: 904px;
    top: 873px;

    /*border*/

    position: absolute;
    width: 345px;
    height: 411px;
    left: 904px;
    top: 873px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boloText{
    position: absolute;
    width: 208px;
    height: 32px;
    left: 980px;
    top: 1227px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */
    
    text-align: center;
    text-transform: lowercase;
    
    color: #000000;
}

.tabule{
    position: absolute;
    width: 345px;
    height: 342px;
    left: 907px;
    top: 1374px;

    /* borda texto*/

    position: absolute;
    width: 345px;
    height: 411px;
    left: 907px;
    top: 1374px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabuleText{
    position: absolute;
width: 237px;
height: 32px;
left: 960px;
top: 1733px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
/* identical to box height */

text-align: center;
text-transform: lowercase;

color: #000000;
}

.footerDetails{
    position: absolute;
    width: 1440px;
    height: 119px;
    left: 0px;
    top: 2397px;

    background: #FFC107;
}
.logoFinal{
    position: absolute;
    width: 324px;
    height: 84px;
    left: 10px;
    top: 2415px;
}

.rights{
    position: absolute;
    width: 464px;
    height: 22px;
    left: 380px;
    top: 2448px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-transform: lowercase;
    
    color: #FFFFFF;
}