
*, ::before, :after{
    margin: 0;
    padding: 0;
    border: 0;
    cursor: inherit;
    box-sizing: border-box;

}


ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.title-page{
    position: relative;
    top: 2em;
    right: 1.5em;
    margin: 100px;
    width: 462px;
    height: 61px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    text-transform: lowercase;

    color: #FFA000;
}
.container2 picture{
    position: relative;
    left: 5%;
}
.dificcult1{
    width: 95px;
    height: 35px;
    left: 120px;
    top: 697px;
    margin: 10px;
    
    border: 1px solid #176902;
    border-radius: 47px;
}
.dificcult2{
    width: 196px;
    height: 35px;
    left: 234px;
    top: 697px;
    margin: 10px;

    border: 1px solid #176902;
    border-radius: 47px;
}

.dificcult1{
    position: relative;
    width: 74px;
    height: 25px;
    left: 5em;
    top:-.05em;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;

    color: #176902;
}

.dificcult2{
    position: relative;
    width: 175px;
    height: 25px;
    left: 10em;
    top:-2em;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;

    color: #176902;
}


.related-recipes div{
    width: 345px;
    height: 411px;
    left: 904px;
    top: 407px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.related-recipes p{


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: lowercase;

    color: #000000;

}

.recipe span{
    font-weight:700 ;
}
.recipe p{
    position: relative;
    margin-left: 50px;
    top:1%;
    width: 592px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;

    color: #000000;
}

.video{
    position: relative;
    margin-top: 100px;


    left: 5em;

}
.video h1{
    font-size:larger;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.text-recipe{
    flex-wrap: wrap;
}

.related-recipes{
    position: relative;
    width: 100px;
    top:16em;

    justify-content: space-between;
}

.related{
    position: relative;
    width: 462px;
    height: 61px;
    top:5em;
    left: 10em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    /* identical to box height */

    text-transform: lowercase;

    color: #FFA000;
}