*,
::before,
:after {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: inherit;
    box-sizing: border-box;

}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contato1{
    display: flex;
    justify-content: center;
    
}

.contato1 h1{
    position: absolute;
    width: 419px;
    height: 170px;
    top: 20%;
    right: 57%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-transform: lowercase;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);

}

.formulario img{
    position: relative;
    left:22%;
    margin-top: 50px;

    margin-bottom: 50px;
    width: 350px;
    height: 771px;

    background: url(image.png);
    border-radius: 20px;
}
.forms{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    
    left: 1000px;
    bottom: 800px;
}

.name{
    text-align: justify;

    margin-bottom: 10px;
    left: 0.6%;
    right: 0%;
    top: 21.48%;
    bottom: 70.88%;
    width: 700px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 7px;
}

.email{    
    text-align: justify;

    margin-bottom: 10px;
    left: 0.6%;
    right: 0%;
    top: 21.48%;
    bottom: 70.88%;
    width: 700px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 7px;
}

.msg{
    text-align: justify;

    left: 0.6%;
    right: 0%;
    top: 21.48%;
    bottom: 70.88%;
    width: 700px;
    height: 400px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 7px;
}
.send{
    left: 0.66%;
    right: 77.56%;
    top: 92.31%;
    bottom: 0.06%;
    width: 100px;
    height: 50px;
    margin-top: 15px;

    background: #FFC107;
    border-radius: 50px;
    left: 2.02%;

    right: 79.21%;
    top: 94.51%;
    bottom: 0.24%;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;

    color: #FFFFFF;

}